dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
.vscode/
swish_ocr/swish1.jpg.txt
swish_ocr/swish2.jpg.txt
swish_ocr/swish3.jpg.txt
swish_raw/swish1.jpg
swish_raw/swish2.jpg
swish_raw/swish3.jpg
rawdata.txt


# Added by cargo

/target
swish.csv
